.form-text{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 30px;
    font-weight: bold;
}
.form-text::placeholder{
    font-size: 30px;
    font-weight: bold;
}
.add-blog-btn{
    border: none;
    outline: none;
    font-weight: bold;
    background-image: linear-gradient(320deg, red, purple);
    color: white;
}